<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flag_mini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,61}}</string>
                <key>sourceSize</key>
                <string>{91,61}</string>
            </dict>
            <key>flag_mini_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,65},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,65},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,65},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,128},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,128},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,128},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,191},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,191},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,191},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>flag_mini_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,191},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,254},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,254},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,317},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,317},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,317},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,317},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,317},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,317},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,317},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>flag_mini_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,317},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,317},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>flag_mini_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,317},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,380},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,442},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,504},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>flag_mini_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flags.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7be5c4d61d7db9b73a9b420a89a1665:1/1$</string>
            <key>textureFileName</key>
            <string>flags.png</string>
        </dict>
    </dict>
</plist>
