<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,350}}</string>
                <key>sourceSize</key>
                <string>{640,350}</string>
            </dict>
            <key>paper_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{640,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,130}}</string>
                <key>sourceSize</key>
                <string>{640,130}</string>
            </dict>
            <key>paper_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{640,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,130}}</string>
                <key>sourceSize</key>
                <string>{640,130}</string>
            </dict>
            <key>paper_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{640,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,130}}</string>
                <key>sourceSize</key>
                <string>{640,130}</string>
            </dict>
            <key>paper_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{640,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,130}}</string>
                <key>sourceSize</key>
                <string>{640,130}</string>
            </dict>
            <key>paper_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{640,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,130}}</string>
                <key>sourceSize</key>
                <string>{640,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bc19bc52261ad40d1a16c978cbf230c:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene.png</string>
        </dict>
    </dict>
</plist>
