<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rect_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,105}}</string>
                <key>sourceSize</key>
                <string>{234,105}</string>
            </dict>
            <key>rect_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,105}}</string>
                <key>sourceSize</key>
                <string>{234,105}</string>
            </dict>
            <key>rect_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{234,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,105}}</string>
                <key>sourceSize</key>
                <string>{234,105}</string>
            </dict>
            <key>rect_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,109},{234,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,105}}</string>
                <key>sourceSize</key>
                <string>{234,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rect_btn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66248943a67eb416227f9cb52df3fe44:1/1$</string>
            <key>textureFileName</key>
            <string>rect_btn.png</string>
        </dict>
    </dict>
</plist>
