<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,199}}</string>
                <key>sourceSize</key>
                <string>{217,199}</string>
            </dict>
            <key>blueActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,199}}</string>
                <key>sourceSize</key>
                <string>{217,199}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{218,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,199}}</string>
                <key>sourceSize</key>
                <string>{218,199}</string>
            </dict>
            <key>greenActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{218,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,199}}</string>
                <key>sourceSize</key>
                <string>{218,199}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{217,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,199}}</string>
                <key>sourceSize</key>
                <string>{217,199}</string>
            </dict>
            <key>orangeActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,203},{217,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,199}}</string>
                <key>sourceSize</key>
                <string>{217,199}</string>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,203},{162,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,251}}</string>
                <key>sourceSize</key>
                <string>{162,251}</string>
            </dict>
            <key>purpleActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,203},{162,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,251}}</string>
                <key>sourceSize</key>
                <string>{162,251}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,203},{162,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,251}}</string>
                <key>sourceSize</key>
                <string>{162,251}</string>
            </dict>
            <key>redActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{162,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,251}}</string>
                <key>sourceSize</key>
                <string>{162,251}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,456},{218,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,199}}</string>
                <key>sourceSize</key>
                <string>{218,199}</string>
            </dict>
            <key>yellowActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,456},{218,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,199}}</string>
                <key>sourceSize</key>
                <string>{218,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>round_btns.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594d239cb4300e1a09c52eb7733f671d:1/1$</string>
            <key>textureFileName</key>
            <string>round_btns.png</string>
        </dict>
    </dict>
</plist>
