debug.log
.idea/workspace.xml
.idea/tasks.xml
proj.win32/Debug
proj.win32/CrazyIQ.opensdf
proj.win32/CrazyIQ.sdf
proj.win32/CrazyIQ.v11.suo
proj.win32/CrazyIQ.v12.suo
proj.android/assets
proj.android/bin
proj.android/gen
proj.android/obj
proj.android/libs

.DS_Store
*.swp
*.lock
profile
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
